/* @font-face {
    font-family: Roboto;
    src: url();
} */

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
}

.bookCard {
  border: rgb(79, 113, 172) solid 3px;
  padding: 10px;
  background-color: #d3eeff;
  border-radius: 5px;

  transition: transform 0.2s ease-in-out;
}

.bookCard:hover {
  transform: scale(1.05);
}

.bookCard p {
  font-weight: 50;
}

form {
  width: 300px;
  display: grid;
}

input {
  height: 1.5rem;
  border-radius: 5px;
  border: black solid 1px;
}

.addBook {
  margin: 30px;
}

button {
  width: 200px;
  height: 30px;
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;

  background-color: skyblue;
  border-radius: 10px;

  /* transition: transform 0.2s ease-in-out; */
}

button:hover {
  background-color: #343434;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.removeBtn,
.readBtn {
  width: 100px;
  height: auto;
}
