/* @font-face {
    font-family: Roboto;
    src: url();
} */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;

  background-color: #abd8ea;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
  margin: 50px;
}

.bookCard {
  border: rgb(79, 113, 172) solid 3px;
  padding: 20px;
  background-color: #d3eeff;
  border-radius: 5px;

  transition: transform 0.2s ease-in-out;

  display: grid;
  gap: 5px;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

  /* Make card disappear slowly with Remove button in js*/
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.bookCard:hover {
  transform: scale(1.05);
}

.bookCard p {
  font-weight: 50;
}

form {
  width: 300px;
  display: grid;

  padding: 20px;
}

input {
  height: 1.5rem;
  border-radius: 5px;
  border: black solid 1px;
}

.addBook {
  margin: 30px;
}

button {
  width: 200px;
  height: 30px;
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;

  background-color: skyblue;
  border-radius: 10px;
}

button:hover {
  background-color: #343434;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.removeBtn,
.readBtn {
  width: 100px;
  height: 30px;
}

.bookDialog {
  margin: 20%;
}
